{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié {% endblock %}

{% block stylesheets %}
    <!--Patch for style-->
    <link href="{{ asset('logFormStyle.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="charte-form form-log">
        {{  form_start(form) }}
        <h3>Recuperation de votre mot de passe!</h3>

        {% if not form.vars.valid %}
            <ul class="alert alert-danger">
                {# on affiche en premier les erreurs globales (cas classiques) #}
                {% for error in form.vars.errors %}
                    <li>{{error.message}}</li>
                {% endfor %}
                {# ainsi que les erreurs concernant chaque champs #}
                {% for child in form.children %}
                    {# si le champ à des erreur #}
                    {% if child.vars.errors is defined %}
                        {% for error in child.vars.errors %}
                            <li> {{error.message}} </li> {# on ajoute le label du champ devant l'erreur pour plus de précisions. #}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        {% for field in form %}
            <!-- Deal with hiden field token-->
            {% if form_label(field) != form_label(form._token) %}
                <div class="form-input-label">
                    {{ form_label(field) }}
                    {{ form_widget(field) }}
                </div>
            {% endif %}
        {%  endfor %}

        <p>Déjà inscrit ?<a class="link" href="{{ path('login') }}"> Connexion </a></p>

        <button class="btn btn-primary">Recuperation du mot de passe!</button>

        {{  form_end(form) }}
    </div>
{% endblock %}