{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <!--Patch for style-->
    <link href="{{ asset('logFormStyle.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="charte-form form-log">
        <form method="post">
            {% if error is defined %}
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            {% endif %}

            {% if app.user %}
            <!-- Check si connecté-->
                <div class="mb-3">
                    Vous êtes déjà connecté avec le compte :  {{ app.user.username }}, <a href="{{ path('logout') }}">Se déconnecter</a>
                </div>
            {% else %}
                <h3>Connexion</h3>

                <div class="form-input-label">
                    <label for="inputUsername">Username</label>
                    <input type="text" value="" name="username" id="inputUsername" class="charte-input" required autofocus>
                </div>

                <div class="form-input-label">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="charte-input" required>
                    <a class="link" href="{{ path('forgotPassword') }}">Mot de passe oublié ?</a>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <!-- TODO Form forgot password -->

                <p><input type="checkbox" name="_remember_me">  Se souvenir de moi</p>

                <p>Pas encore connecté ?<a class="link" href="{{ path('subscribe') }}"> Inscription </a></p>

                <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
            {% endif %}
        </form>
    </div>
{% endblock %}
