{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <!--Patch for style-->
    <!--TODO True Style-->
    <style>
        *{font-family: "Gill Sans", sans-serif;}
        h1 {
            color:  #2980b9;
            text-align: center }

        .form{
            display: block;
            align-self: center;
            border: black medium solid;
            border-radius: 25px;
            margin-top: 2em;
            margin-left: auto;
            margin-right: auto;
            width: 30em;
            padding:2em;
        }
        .row{
            display: flex;
            justify-content: start;
            height: 3em;
            position: relative;
            margin:10px;
        }
        label{
            font-weight: bold;
            font-size: 1em;
            margin-left:10px
        }
        input, select{
            border-radius: 3px;
            display: block;
            position: absolute;
            top: 1.5em ;
            height: 1.5em;
            width: 20em;
            margin-left:10px}
        .alert{color: crimson}

        button{
            border-style: none;
            border-radius: 3px;
            font-weight: bold;
            font-size: 1em;
            color: white;
            background-color: #2980b9;
            padding:5px;
            height: 2em;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="form">
    <h1>  Inscrivez vous!  </h1>

    {{  form_start(form) }}

        {% if not form.vars.valid %}
            <ul class="alert alert-danger">
                {# on affiche en premier les erreurs globales (cas classiques) #}
                {% for error in form.vars.errors %}
                    <li>{{error.message}}</li>
                {% endfor %}
                {# ainsi que les erreurs concernant chaque champs #}
                {% for child in form.children %}
                    {# si le champ à des erreur #}
                    {% if child.vars.errors is defined %}
                        {% for error in child.vars.errors %}
                            <li> {{error.message}} </li> {# on ajoute le label du champ devant l'erreur pour plus de précisions. #}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        {% for field in form %}
            <!-- Deal with hiden field token-->
            {% if form_label(field) != form_label(form._token) %}
                <div class="row">

                    {{ form_label(field) }}
                    {{ form_widget(field) }}
                </div>
            {% endif %}
        {%  endfor %}

        <div class="row">
            Déjà inscrit ?<a class="link" href="{{ path('login') }}"> Connexion </a>
        </div>
        <div class="row">
            <button> S'inscrire! </button>
        </div>
        {{  form_end(form) }}
    </div>
{% endblock %}
