{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Statistiques utilisateurs' %}
{% block page_content %}

    {#  Stats style  #}
    <link rel="stylesheet" href="{{ asset('css/admin/statistics.css') }}">

    {#  import Chart.js  #}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    {#  Card info  #}
    <div class="row">
        <div class="col-md-2">
            <div class="card border-success border-top-0 border-bottom-0 border-right-0 h-100 py-2 shadow-sm"
                 style="border-left: 5px solid;">
                <div class="card-body  ">
                    <h5 class="text-success">Nombre de citoyens</h5>
                    <p class="card-text h1 ">{{ users_count_roles[0] }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-{% if users_count_roles[1] >= 10 %}success{% elseif users_count_roles[1] >= 5 %}warning{% else %}danger{% endif %} border-top-0 border-bottom-0 border-right-0 h-100 py-2 shadow-sm"
                 style="border-left: 5px solid;">
                <div class="card-body  ">
                    <h5 class="text-success">Nombre de modérateurs</h5>
                    <p class="card-text h1 ">{{ users_count_roles[1] }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-{% if users_count_roles[2] + users_count_roles[3] >= 10 %}success{% elseif users_count_roles[2] + users_count_roles[3] >= 5 %}warning{% else %}danger{% endif %} border-top-0 border-bottom-0 border-right-0 h-100 py-2 shadow-sm"
                 style="border-left: 5px solid;">
                <div class="card-body  ">
                    <h5 class="text-success">Nombre d'administrateurs</h5>
                    <p class="card-text h1 ">{{ users_count_roles[2] + users_count_roles[3] }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-success border-top-0 border-bottom-0 border-right-0 h-100 py-2 shadow-sm"
                 style="border-left: 5px solid;">
                <div class="card-body  ">
                    <h5 class="text-success">Nombre de comptes actifs</h5>
                    <p class="card-text h1 ">{{ user_active }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    {#  Graph  #}
    <div class="row">
        <div class="col-md-7 p-4 card shadow-sm">
            <nav class="navbar justify-content-between">
                <div class="nav nav-pills" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-register"
                       role="tab" aria-controls="nav-year" aria-selected="true">Inscriptions par années</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-dept" role="tab"
                       aria-controls="nav-department" aria-selected="false">Inscriptions par départements</a>
                </div>
                <a class="btn btn-info" onclick="export2CSV()">CSV</a>
            </nav>

            <div class="tab-content pt-2" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-register" role="tabpanel" aria-labelledby="nav-year-tab">

                    <nav class="navbar justify-content-between">
                        <div class="nav nav-pills" id="nav-tab-year" role="tablist">
                            {% for year in register_per_year|keys %}
                                <a class="nav-item nav-link {% if loop.first %}active{% endif %}" id="nav-home-tab"
                                   data-toggle="tab" href="#nav-registerIn{{ year }}"
                                   role="tab" aria-controls="nav-year" aria-selected="true">{{ year }}</a>
                            {% endfor %}
                        </div>
                    </nav>

                    <div class="tab-content pt-2" id="nav-tabContent">
                        {% for year in register_per_year|keys %}
                            <div class="tab-pane fade show {% if loop.first %}active{% endif %}"
                                 id="nav-registerIn{{ year }}" role="tabpanel" aria-labelledby="nav-year-tab">
                                <canvas id="registerIn{{ year }}"></canvas>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade pt-4" id="nav-dept" role="tabpanel" aria-labelledby="nav-department-tab">
                    <canvas id="usersPerDpt"></canvas>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div>
                    <div class="card ml-2 p-2 shadow-sm">
                        <canvas id="usersPerRole"></canvas>
                        <hr>
                        <h5 class="text-center">Utilisateurs par rôles</h5>
                    </div>
                </div>
                <div>
                    <div class="card ml-2 p-2 shadow-sm">
                        <canvas id="usersPerAgeCat"></canvas>
                        <hr>
                        <h5 class="text-center">Utilisateurs par ages</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="{{ asset('js/gen_chart.js') }}"></script>
    <script>
        function export2CSV() {

            let csv_content = "data:text/csv;charset=utf-8,";
            let csv_title;

            if (document.getElementById('nav-home-tab').className.includes("active")) {
                csv_title = "register_per_year.csv";
                csv_content += "annee,01,02,03,04,05,06,07,08,09,10,11,12\r\n";
                {% for year, registerYear in register_per_year %}
                csv_content += {{ year|json_encode|raw }}+"," + {{ registerYear|json_encode|raw }} +'\r\n';
                {% endfor %}
            } else {
                csv_title = "register_per_department.csv";
                csv_content += "dpt"
                {% for dpt in dpt_num %}
                csv_content += "," + {{ dpt|json_encode|raw }};
                {% endfor %}
                csv_content += '\r\nnbr';
                {% for nbr in users_count_dpt %}
                csv_content += "," + {{ nbr|json_encode|raw }};
                {% endfor %}
                csv_content += '\r\n';
            }

            const encodedUri = encodeURI(csv_content);
            const link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", csv_title);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link)

        }
        genPieChart(
            'usersPerRole',
            null,
                {{ roles_labels|json_encode|raw }},
                {{ users_count_roles|json_encode|raw }})
        genPieChart(
            'usersPerAgeCat',
            'Utilisateurs',
                {{ age_cat_labels|json_encode|raw }},
                {{ users_count_age|json_encode|raw }})
        genBarChart(
            'usersPerDpt',
            'Utilisateurs',
                {{ dpt_num|json_encode|raw }},
                {{ users_count_dpt|json_encode|raw }})
        {% for year, registerYear in register_per_year %}
        genLineChart(
            'registerIn{{ year }}',
            'Inscriptions',
            [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                {{ registerYear|json_encode|raw }})
        {% endfor %}
    </script>

{% endblock %}
