{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block javascript %}

{% endblock %}
{# TODO: Changer le titre du dashboard #}
{% block page_title 'Statistiques' %}
{% block page_content %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <div class="row">
        <div class="col-md-2">
            <div class="card border-success border-top-0 border-bottom-0 border-right-0 h-100 py-2 shadow-sm"
                 style="border-left: 5px solid;"> {# TODO: CSS a externaliser #}
                <div class="card-body  ">
                    <h5 class="text-success">Nombre de citoyens</h5>
                    <p class="card-text h1 ">{{ users_count_roles[0] }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-7">
            <canvas id="registerPerMonth"></canvas>
            <h5 class="text-center mt-4">Inscriptions pour l'année {{ year }}</h5>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-6 ">
                    <canvas id="usersPerRole"></canvas>
                    <h5 class="text-center mt-4">Utilisateurs par rôles</h5>
                </div>
                <div class="col-md-6 ">
                    <canvas id="usersPerAgeCat"></canvas>
                    <h5 class="text-center mt-4">Utilisateurs par ages</h5>
                </div>
            </div>

        </div>
    </div>
    <div class="row ">
        <div class="col">
            <canvas id="usersPerDpt"></canvas>
            <h5 class="text-center">Utilisateurs par départements</h5>
        </div>
    </div>
    <script>
        {# TODO: JS a externaliser #}
        const defaultBackgroundColor = [
            'rgb(214,35,68)',
            'rgb(54,162,235)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ];

        function genChart(element, title, type, labels, datas, backgroundColor = defaultBackgroundColor) {
            new Chart(document.getElementById(element).getContext('2d'), {
                type: type,
                data: {
                    labels: labels,
                    datasets: [{
                        label: title,
                        backgroundColor: backgroundColor,
                        data: datas
                    }]
                }
            });
        }
    </script>

    <script>
        genChart(
            'usersPerRole',
            null,
            'doughnut',
                {{ roles_labels|json_encode|raw }},
                {{ users_count_roles|json_encode|raw }})
        genChart(
            'usersPerAgeCat',
            'Utilisateurs',
            'doughnut',
                {{ age_cat_labels|json_encode|raw }},
                {{ users_count_age|json_encode|raw }})
        genChart(
            'usersPerDpt',
            'Utilisateurs',
            'bar',
                {{ dpt_num|json_encode|raw }},
                {{ users_count_dpt|json_encode|raw }},
            'rgba(65,200,111,0.8)')
        genChart(
            'registerPerMonth',
            'Inscriptions',
            'line',
            [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                {{ register_per_month|json_encode|raw }},
            'rgba(75, 192, 192, 0.8)')
    </script>

{% endblock %}
