{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{# TODO: Changer le titre du dashboard #}
{% block page_title 'Panneau d\'administration' %}

{% block page_content %}
    {# TODO: créer la page d'accueil du dashboard #}
    {# Pour surcharger la vue, effectuer les modifications depuis templates/bundles/easyadminBundles #}

    <div class="row">
        {% for property in stats_prop %}
            <div class="col-3">
                <div class="card text-white {{ property['class'] }} mb-3" style="max-width: 18rem;">
                    <div class="card-header text-white">{{ property['title'] }}</div>
                    <div class="card-body">
                        <p class="card-text h1 text-white text-center">{{ property['value'] }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mt-4">
    <h4>Dernières ressources</h4>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Utilisateur</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for ress in last_ress %}
                <tr>
                    <td>{{ ress['id'] }}</td>
                    <td>{{ ress['name'] }}</td>
                    <td>{{ ress['user'] }}</td>
                    <td>{{ ress['date'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
