{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{# TODO: Changer le titre du dashboard #}
{% block page_title 'Panneau d\'administration' %}

{% block page_content %}
    <link rel="stylesheet" href="{{ asset('css/admin/dashboard.css') }}" type="text/css">
    {# TODO: créer la page d'accueil du dashboard #}
    {# Pour surcharger la vue, effectuer les modifications depuis templates/bundles/easyadminBundles #}

    <div class="row">
        <div class="col-2">
            <div class="text-white mb-3 bg-danger div-cartouche d-flex flex-column justify-content-center div-red-cartouche" >
                <div class="text-white text-center div-cartouche-header">
                    Ressources à valider
                </div>
                <p class="card-text h4 text-white text-center div-cartouche-under-header">{{ resourcesToValidateNumber }}</p>
            </div>
        </div>
        <div class="col-10 row">
            <div class="col-1"></div>
            <div class="text-white bg-danger mb-3 col-2 justify-content-center d-flex align-items-center div-cartouche div-red-cartouche">
                <p class="card-text text-white text-center align-middle">Ressources les plus commentées</p>
            </div>
            {% for resource in resourcesMostCommented %}
            <a href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}"
               class="text-white bg-danger mb-3 col-2 div-cartouche div-red-cartouche d-flex flex-column justify-content-center">
                <div class="text-white text-center text-truncate div-cartouche-header">{{ resource.title }}</div>
                <p class="card-text text-white text-center text-truncate div-cartouche-under-header">{{ resource.user }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 text-center">
            <h2>Statistiques du jour</h2>
            <div class="row">
                <div class="col-11 row">
                    <div class="text-white bg-primary div-cartouche div-blue-green-cartouche col-3 d-flex flex-column justify-content-center" >
                        <div class="text-white text-center div-cartouche-header">
                            Commentaires
                        </div>
                        <p class="card-text h4 text-white text-center div-cartouche-under-header">{{ currentDayCommentsNumber }}</p>
                    </div>
                    {% for comment in currentDayComments %}
                        <a href="{{ path('comment.show', {id: comment.resource.id, slug: comment.resource.slug}) }}"
                           class="col-3 mb-3 bg-primary div-cartouche div-blue-green-cartouche text-white d-flex flex-column justify-content-center">
                            <div class="text-white text-truncate div-cartouche-header" >
                                {{ comment.title }}
                            </div>
                            <p class="card-text text-white text-center div-cartouche-under-header">{{ comment.user }}</p>
                        </a>
                    {% endfor %}
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-11 row">
                    <div class="text-white bg-primary div-cartouche div-blue-green-cartouche col-3 d-flex flex-column justify-content-center" >
                        <div class="text-white text-center div-cartouche-header">
                            Consultations
                        </div>
                        <p class="card-text h4 text-white text-center div-cartouche-under-header">{{ currentDayResourcesConsultedNumber }}</p>
                    </div>
                    {% for resource in currentDayResourcesConsulted %}
                        <a href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}"
                           class="col-3 mb-3 bg-primary div-cartouche div-blue-green-cartouche text-white d-flex flex-column justify-content-center">
                            <div class="text-white text-truncate div-cartouche-header" >
                                {{ resource.title }}
                            </div>
                            <p class="card-text text-white text-center div-cartouche-under-header">{{ resource.user }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-11 row">
                    <div class="text-white bg-primary div-cartouche div-blue-green-cartouche col-3 d-flex flex-column justify-content-center" >
                        <div class="text-white text-center div-cartouche-header">
                            Partages
                        </div>
                        <p class="card-text h4 text-white text-center div-cartouche-under-header">{{ currentDaySharedResourcesNumber }}</p>
                    </div>
                    {% for resource in currentDaySharedResources %}
                        <a href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}"
                           class="col-3 mb-3 bg-primary div-cartouche div-blue-green-cartouche text-white d-flex flex-column justify-content-center">
                            <div class="text-white text-truncate div-cartouche-header" >
                                {{ resource.title }}
                            </div>
                            <p class="card-text text-white text-center div-cartouche-under-header">{{ resource.user }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <h2>Statistiques de la semaine</h2>
        </div>
    </div>
{#    <div class="row mt-4">#}
{#    <h4>Dernières ressources</h4>#}
{#        <table class="table">#}
{#            <thead class="thead-dark">#}
{#            <tr>#}
{#                <th scope="col">#</th>#}
{#                <th scope="col">Nom</th>#}
{#                <th scope="col">Utilisateur</th>#}
{#                <th scope="col">Date</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for ress in last_ress %}#}
{#                <tr>#}
{#                    <td>{{ ress['id'] }}</td>#}
{#                    <td>{{ ress['name'] }}</td>#}
{#                    <td>{{ ress['user'] }}</td>#}
{#                    <td>{{ ress['date'] }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}

{% endblock %}
