<div class="charte-form">
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger mt-4 text-center">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_title|raw }}
    {{ form_widget(form.content) }}
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
</div>