<h2>Liste des commentaires</h2>

{% for commentary in commentaries %}
    <div>
        <hr>
        <p><span class="commentary-author">{{ commentary.user }}</span><span class="author-date"> le {{ commentary.commentDate|date("d/m/Y à H:i", "Europe/Paris") }}</span></p>
        <p>{{ commentary.content }}</p>
        <div class="commentary-actions">
            <button class="btn btn-more-less" {#onclick="setShowCommentaries()"#}>Voir les réponses</button>
            <div class="commentary-actions-buttons">
                {% if app.user== commentary.user %}
                    <a href="{{ path('commentary_edit', {id: commentary.id}) }}" class=" btn btn-icon"><span class="icon-edit"></span></a>
                {% endif %}
                {% if app.user== commentary.user or is_granted('ROLE_MODERATEUR') %}
                    <a href="{{ path('commentary_delete', {id: commentary.id}) }}" class=" btn btn-icon"><span class="icon-delete"></span></a>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <p>Il n'y a pas encore de commentaire</p>
{% endfor %}

