{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/resource.css') }}" type="text/css">
{% endblock %}
    {% set relation = {
        'Soi': asset('image/1.jpg'),
        'Conjoints': asset('image/2.jpg'),
        'Famille - enfants': asset('image/3.jpg'),
        'Famille - parents': asset('image/4.jpg'),
        'Famille - fratrie': asset('image/5.jpg'),
        'Professionnel - collègues': asset('image/6.jpg'),
        'Professionnel - collaborateurs': asset('image/7.jpg'),
        'Professionnel - manager': asset('image/8.jpg')
    }%}

<a class="resource-card" href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}" data-id="{{ resource.id }}" data-bg="{{ (resource.imageName) ? vich_uploader_asset(resource,'imageFile') : ((resource.relationShip.label in relation|keys) ? relation[resource.relationShip.label] : 'https://picsum.photos/300/300') }}">
    <div class="resource-hidden">
        <p>Voir</p>
    </div>
    <div class="resource-meta">
        <p class="resource-title">{{ resource.title }}</p>
        <div class="resource-types">
            <p>type : {{ resource.resourceType }}</p>
            <p>relation : {{ resource.relationShip.label }}</p>
        </div>
    </div>
</a>