{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/resource.css') }}" type="text/css">
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<div class="card-group ">
    <div class="card mb-4 mx-auto" style="width: 18rem;">
        <div class="card-header">
            De {{ resource.user.username }} <br>
            posté le {{ resource.dateCreation|date("d.m.Y à H:i", "Europe/Paris") }}
        </div>

        <div class="card-img">
        {% if resource.imageName %}
            <img class="imgRes" src="{{ vich_uploader_asset(resource,'imageFile') }}" alt=""/>
        {% else %}
            {% if resource.relationShip.label == 'Soi' %}
                <img class="imgRes" src="{{ asset('image/1.jpg') }}" alt=""/>

            {% elseif resource.relationShip.label == 'Conjoints' %}

                <img class="imgRes" src="{{ asset('image/2.jpg') }}" alt=""/>

            {% elseif resource.relationShip.label == 'Famille - enfants' %}

                <img  class="imgRes" src="{{ asset('image/3.jpg') }}" alt=""/>

            {% elseif resource.relationShip.label == 'Famille - parents' %}

                <img class="imgRes" src="{{ asset('image/4.jpg') }}" alt=""/>

            {% elseif resource.relationShip.label == 'Famille - fratrie' %}

                <img class="imgRes" src="{{ asset('image/5.jpg') }}" alt=""/>


            {% elseif resource.relationShip.label == 'Professionnel - collègues' %}

                <img class="imgRes" src="{{ asset('image/6.jpg') }}" alt=""/>

            {% elseif resource.relationShip.label == 'Professionnel - collaborateurs' %}

                <img class="imgRes" src="{{ asset('image/7.jpg') }}" alt=""/>

            {% elseif resource.relationShip.label == 'Professionnel - manager' %}

                <img class="imgRes" src="{{ asset('image/8.jpg') }}" alt=""/>

            {% else %}
                <img class="card-img-top imgRes" src="https://picsum.photos/300/300" alt="">
            {% endif %}
        {% endif %}
        </div>
        <div class="card-body ">
            <h5 class="card-title text-truncate text-center "><a
                        href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}">
                    {{ resource.title }}
                </a></h5>
            <div class="card-text text-center">
                <p class="text-center">{{ resource.resourceType }}</p>
                <p class="text-center">{{ resource.relationShip.label }}</p>
                <span class="text-center mb-4">
            <a href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}"
               class="btn btn-primary "> Consulter la ressource
            </a>
        </span>
            </div>
        </div>
        <div class="card-footer" style="color:dodgerblue">
            {% if resource.comments|length > 0 %}
                {% set valuation_average = values.note %}
                Note {{ valuation_average|number_format(1) }} / 5
            {% else %}
                Il n'y a pas encore d'évaluation.
            {% endif %}
            <br>
            <div class="row">
                <div class="col">
                    <img src="https://img.icons8.com/color/30/000000/chat--v1.png"/> {{ values.nb_coms}}
                </div>
                <!--Gestion Favoris-->
                {% if app.user %}
                    <div class="col">
                        <a style="display:block;text-align: right"
                           href="{{ path('addRemoveFav', {id: resource.id,url:app.request.requestUri }) }}">
                            {% if resource.id in resourceFav %}
                                <img src="https://img.icons8.com/cotton/64/000000/like--v1.png"
                                     title="Retirer des Favoris" style="width: 30px;height: 30px;"/>
                            {% else %}
                                <img src="https://img.icons8.com/plasticine/100/000000/like--v3.png"
                                     title="Ajouter aux favoris" style="width: 30px;height: 30px;"/>
                            {% endif %}

                            <a style="display:block;text-align: right"
                               href="{{ path('addRemoveSide', {id: resource.id,url:app.request.requestUri }) }}">
                                {% if resource.id in resourceSide %}
                                <img src="https://img.icons8.com/plasticine/100/000000/lock-2.png"
                                     title="supprimer la mise de côte" style="width: 30px;height: 30px;"/>
                            </a>
                        {% else %}
                            <img src="https://img.icons8.com/carbon-copy/64/000000/lock-2.png"
                                 title="mettre de côté" style="width: 30px;height: 30px;"/>
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


