<div class="card mb-4">
    <div class="text-center">
        <div class="container-fluid">
{#            <img src="{{ asset('image/arbre.jpg') }}" alt="" width="100%">#}
            <img src="https://source.unsplash.com/random" alt="" width="100%">
        </div>
    </div>

    <div class="card-body">
        <h5 class="card-title text-center">
            <a href="{{ path('app_resource_show', {id: resource.id, slug: resource.slug}) }}"> {{ resource.title }} </a>
        </h5>
        <p class="card-text text-center"> {{ resource.description }}</p>
        <p class="card-text text-center"> Catégorie {{ resource.relationShip.label }}</p>
        <div class="form-row text-center">
            <a href="{{ path('app_resource_show', {id: resource.id, slug: resource.slug}) }}"
               class="btn btn-primary "> Consulter la ressource</a>
        </div>
    </div>

        <div class="card-footer  text-left " style="color:dodgerblue">  Auteur {{ resource.user }} </div>
    </div>

