{% extends 'base.html.twig' %}

{% block title 'Ajouter/modifier une ressource' %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    <div class="charte-form">
        {{ form_start(form) }}
        <h3>{{ (type == 'creation') ? 'Créer une ressource' : 'Modifier une ressource' }}</h3>
        <div class="form-twoColumn-grid">
            <div class="gridColumn-one">
                <div class="form-input-label">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="form-input-label">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="gridColumn-two">
                <div class="form-input-label">
                    {{ form_label(form.imageFile) }}
                    {{ form_widget(form.imageFile) }}
                </div>
                <div class="form-input-label">
                    {{ form_label(form.ageCategory) }}
                    {{ form_widget(form.ageCategory) }}
                </div>
                <div class="form-input-label">
                    {{ form_label(form.resourceType) }}
                    {{ form_widget(form.resourceType) }}
                </div>
                <div class="form-input-label">
                    {{ form_label(form.relationShip) }}
                    {{ form_widget(form.relationShip) }}
                </div>
                <div class="form-input-label">
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                </div>
                <div class="form-action">
                    <button class="btn btn-green">
                        {% if type == 'creation' %}
                            Créer
                        {% else %}
                            Modifier
                        {% endif %}
                    </button>
                    <a href="{{ path('resources') }}" class="btn btn-red">Annuler</a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}