{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rating.css') }}" type="text/css">
    <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="charte-form">
        {{ form_start(form) }}
            <h2>Editer l'évaluation</h2>
            <ul class="rating">
                <li class="rating-item" data-rate="1"></li>
                <li class="rating-item" data-rate="2"></li>
                <li class="rating-item" data-rate="3"></li>
                <li class="rating-item" data-rate="4"></li>
                <li class="rating-item" data-rate="5"></li>
            </ul>
            {{ form_widget(form.title) }}
            {{ form_widget(form.content) }}
            {{ form_widget(form.valuation) }}
            <div class="form-action">
                <a href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}" class="btn btn-primary">Retour</a>
                {{ form_widget(form.submit) }}
            </div>
        {{ form_end(form) }}
    </div>

        {% block javascripts %}
            <script>
                $(document).ready(function () {
                    const container = document.querySelector('.rating');
                    const items = container.querySelectorAll('.rating-item');
                    container.onclick = e => {
                        const elClass = e.target.classList;
                        if (!elClass.contains('active')) {
                            items.forEach(
                                item => item.classList.remove('active')
                            );
                            $("#comment_valuation").val(e.target.getAttribute("data-rate"));
                            elClass.add('active');
                        }
                    };
                });
            </script>
        {% endblock %}
{% endblock %}