{% extends 'base.html.twig' %}
{% block title 'toutes nos ressources' %}



{% block stylesheets %}
    <style>
        .btn-primary {
            color: ghostwhite;
            background-color: dodgerblue;
            border-color: ghostwhite;
            text-decoration: none;
        }

        select {
            display: block
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div class="container w-100">
        <div class="row">

        <!--Filtre-->
            <div class="col col-sm-2  ">
                <div class="container position-sticky mt-lg-5 card p-sm-3" style="top:20px;">
                    <h2>Filtre</h2>
                    {{ form_start(filter) }}
                        <div class="row d-flex w-auto overflow-auto " >
                            {{ form_row(filter.type, { 'label' : 'Type de Ressources'}) }}
                        </div>
                        <div class="row d-flex w-auto overflow-auto " >
                            {{ form_row(filter.relation ,{'label' : 'Type de Relation'}) }}
                        </div>
                        <div class="row d-flex w-auto overflow-auto " >
                            {{ form_row(filter.age , {'label' : "Tranches d'âge"}) }}
                        </div>
                        <div class="row-md-auto">
                            <button class="btn btn-primary ">Filtrer</button>
                        </div>
                    {{ form_end(filter) }}
                </div>
            </div>

            <div class="col">
                <div class="container mt-4">
                    <h3 style="color:dodgerblue"> Dernières ressources </h3>
                    <div class="row">
                        {% for resource in resources %}
                        <div class="col-md-4">
                            {% include'resources/_resource.html.twig' %}
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="pagination text-center mt-4">
                    {{ knp_pagination_render(resources) }}
                </div>
            </div>

        {% if resources is empty %}
            <div class="alert alert-danger">
                Aucune ressource ne correspond à votre recherche
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(function () {
            $('.selectTags').select2();
        })
    </script>
<script>
    var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'))
    var collapseList = collapseElementList.map(function (collapseEl) {
    return new bootstrap.Collapse(collapseEl)
    })
    $('#myCollapsible').collapse({
        toggle: true
    })
</script>

{% endblock %}

