{% extends 'base.html.twig' %}
{% block title 'toutes nos ressources' %}




{% block stylesheets %}
    <style>
        .btn-primary {
            color: ghostwhite;
            background-color: dodgerblue;
            border-color: ghostwhite;
            text-decoration: none;
        }

        select {
            display: block
        }
    </style>

    <link href="{{ asset('css/sort.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/filter.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div id="filter">
        <h2>Filtre</h2>
        {{ form_start(filter) }}
        <div class="filter_menu  ">
            <div class="filter_header dropdown">
                <label>Type de Ressources</label>
                <div class="filter_fa_down">
                    <i class="fa_down">
                    </i>
                </div>
            </div>
            <div class="filter_items_list">
                <ul>
                    {% for item in filter.type %}

                        <li class="filter_items">
                            {{ form_widget(item) }} {{ form_label(item) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="filter_menu ">
            <div class="filter_header dropdown">
                <label>Type de relation</label>
                <div class="filter_fa_down">
                    <i class="fa_down">
                    </i>
                </div>
            </div>
            <div class="filter_items_list">
                <ul>
                    {% for item in filter.relation %}
                        <li class="filter_items">
                            {{ form_widget(item) }} {{ form_label(item) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="filter_menu">
            <div class="filter_header dropdown">
                <label>Catégorie d'âge</label>
                <div class="filter_fa_down">
                    <i class="fa_down">
                    </i>
                </div>
            </div>
            <div class="filter_items_list">
                <ul>
                    {% for item in filter.age  %}
                        <li class="filter_items">
                            {{ form_widget(item) }} {{ form_label(item) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="filter_button">
            <button class="btn btn-primary ">Filtrer</button>
        </div>
        {{ form_end(filter) }}
    </div>

    <div class="container mt-4">
        <h3 style="color:dodgerblue"> Toutes les ressources</h3>
        <div id="sort">
            <div class="sort_label dropdown">Trier par:
                <div class="sort_fa_down">
                    <i class="fa_down">
                    </i>
                </div>
            </div>
            <div id="sort_list">
                <ul>
                    <li class="sort_items
                    {% if resources.isSorted('r.title') and resources.direction == 'asc' %}sorted{% endif %}">
                        {{ knp_pagination_sortable(resources, 'Ordre Alphabetique A->Z', 'r.title',{}, {'direction': 'asc'}) }}
                    </li>
                    <li class="sort_items
                    {% if resources.isSorted('r.title') and resources.direction == 'desc' %}sorted{% endif %}">
                        {{ knp_pagination_sortable(resources, 'Ordre Alphabetique Z->A', 'r.title',{}, {'direction': 'desc'}) }}
                    </li>
                    <li class="sort_items {% if resources.isSorted('r.dateCreation') %}sorted{% endif %}">
                        {{ knp_pagination_sortable(resources, 'Les plus récentes', 'r.dateCreation',{}, {'direction': 'desc'}) }}
                    </li>
                    <li class="sort_items {% if resources.isSorted('nb_coms') %}sorted{% endif %}">
                        {{ knp_pagination_sortable(resources, 'Les plus commentées', 'nb_coms',{}, {'direction': 'desc'}) }}
                    </li>
                    <li class="sort_items {% if resources.isSorted('note') %}sorted{% endif %}">
                        {{ knp_pagination_sortable(resources, 'Les meilleurs notes', 'note',{}, {'direction': 'desc'})}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
        {% for values in resources %}
            {% set resource = values.resource %}
        <div class="col-md-4">
             {% include'resources/_resource.html.twig' %}
        </div>
        {% endfor %}
    </div>
</div>

<div class="pagination text-center mt-4">
    {{ knp_pagination_render(resources) }}
</div>
{% endblock %}


{% block javascripts %}

    <script>

        var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'))
        var collapseList = collapseElementList.map(function (collapseEl) {
        return new bootstrap.Collapse(collapseEl)
        })
        $('#myCollapsible').collapse({
            toggle: true
        });
    </script>
    <script>
    function toggleClass(elem,className){
        if (elem.className.indexOf(className) !== -1){
            elem.className = elem.className.replace(className,'');
        }
        else{
            elem.className = elem.className.replace(/\s+/g,' ') + 	' ' + className;
        }

        return elem;
    }

    var dropdown = document.getElementsByClassName("dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].onclick = function() {

            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        }
    }
    </script>

{% endblock %}

