{% extends 'base.html.twig' %}
{% block title 'toutes nos ressources' %}

{% block stylesheets %}
    <style>
        .btn-primary {
            color: ghostwhite;
            background-color: dodgerblue;
            border-color: ghostwhite;
            text-decoration: none;
        }

        select {
            display: block
        }
    </style>

    <link href="{{ asset('css/sort.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/filter.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/resource.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('css/resource.css') }}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
{% endblock %}

{% block body %}

    <div class="index-content">
        <div class="filters">
            <div class="sort">
                <div id="sort">
                    <h2>Trier</h2>
                    <div class="filter_menu ">
                        <div class="filter_header dropdown">
                            <label>Trier par</label>
                            <div class="filter_fa_down">
                                <i class="fa_down"></i>
                            </div>
                        </div>
                        <div class="filter_items_list">
                            <ul>
                                {% set sorts = [
                                    {
                                        title : 'Ordre Alphabetique A->Z',
                                        target : 'r.title',
                                        direction : 'asc'
                                    },
                                    {
                                        title : 'Ordre Alphabetique Z->A',
                                        target : 'r.title',
                                        direction : 'desc'
                                    },
                                    {
                                        title : 'Les plus récents',
                                        target : 'r.dateCreation',
                                        direction : 'desc'
                                    },
                                    {
                                        title : 'Les plus commentées',
                                        target : 'nb_coms',
                                        direction : 'desc'
                                    },
                                    {
                                        title : 'Les meilleurs notes',
                                        target : 'note',
                                        direction : 'desc'
                                    }
                                ]
                                %}
                                {% for sort in sorts %}
                                    <li class="sort_items {% if resources.isSorted(sort['target']) and resources.direction == sort['direction'] %}sorted{% endif %}">
                                        {{ knp_pagination_sortable(resources, sort['title'], sort['target'],{}, {'direction': sort['direction']}) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="filter">
                <div id="filter">
                    <h2>Filtrer</h2>
                    {{ form_start(filter) }}

                    {% set filters = {
                        'Type de Ressources': filter.type,
                        'Type de relation': filter.relation,
                        'Catégorie d\'âge': filter.age
                    } %}
                    {% for key, filter in filters %}
                        <div class="filter_menu  ">
                            <div class="filter_header dropdown">
                                <label>{{ key }}</label>
                                <div class="filter_fa_down">
                                    <i class="fa_down"></i>
                                </div>
                            </div>
                            <div class="filter_items_list">
                                <ul>
                                    {% for item in filter %}
                                        <li class="filter_items">
                                            {{ form_widget(item) }} {{ form_label(item) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="filter_button">
                        <button class="btn btn-primary ">Filtrer</button>
                    </div>
                    {{ form_end(filter) }}
                </div>
            </div>
        </div>

        <div class="cards-content">
            {% for values in resources %}
                {% set resource = values.resource %}
                {% include'resources/_resource.html.twig' %}
            {% endfor %}
            {% if resources is empty%}
                Désolé, aucune ressources ne correspondent à votre recherche
            {% endif %}


            <a class="resource-card btn-addresource" href="{{ path('add_resource') }}">
                <div class="resource-hidden">
                    <i class="fas fa-plus"></i>
                </div>
                <div class="resource-meta">
                    <p class="resource-title">Ajouter une ressource</p>
                </div>
            </a>
        </div>
    </div>
    <div class="index-pagination pagination text-center mt-4">
        {{ knp_pagination_render(resources) }}
    </div>


{#    <a class="btn-addResource" href="{{ path('add_resource') }}" title="Créer une ressource"><i class="fa-plus"></i></a>#}


{% endblock %}

{% block javascripts %}

    <script>
        /*SET RESOURCE CARD BACKGROUND IMAGE*/
        var allResourceCards = document.querySelectorAll('.resource-card');
        allResourceCards.forEach(setBackgroundImage);
        function setBackgroundImage(item) {
            item.style.backgroundImage="url(" + item.getAttribute('data-bg') + ")";
        }

        var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'))
        var collapseList = collapseElementList.map(function (collapseEl) {
        return new bootstrap.Collapse(collapseEl)
        })
        // $('#myCollapsible').collapse({
        //     toggle: true
        // });
    </script>
    <script>
    function toggleClass(elem,className){
        if (elem.className.indexOf(className) !== -1){
            elem.className = elem.className.replace(className,'');
        }
        else{
            elem.className = elem.className.replace(/\s+/g,' ') + 	' ' + className;
        }

        return elem;
    }

    var dropdown = document.getElementsByClassName("dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].onclick = function() {

            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        }
    }
    </script>

{% endblock %}

