{% extends 'base.html.twig' %}

{% block body %}

    {{ resource.title }}
    {{ resource.description }}


    <h3 class="text-center text-dark">Liste des commentaires </h3>

    <div class="card w-100 text-center">


    {% for comment in resource.comments %}





        <div class="card text-center">
            <div class="card-header mt-4">
                De {{ comment.user.username }}
            </div>
            <div class="card-body ">
                <h5 class="card-title">{{ comment.title }}</h5>
                <p class="card-text">{{ comment.content }}</p>
                <p class="card-text">Note {{ comment.valuation }} / 5</p>
                <a href="#" class="btn btn-primary">Répondre</a>
            </div>
            <div class="card-footer text-muted">
                posté le {{ comment.commentDate|date }}
            </div>
        </div>
    {% endfor %}

    <h2 class="text-center pt-5">Ajouter un commentaire </h2>


    {{ form(form) }}




{% endblock %}