{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rating.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/show.css') }}" type="text/css">
    <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="resource-content">
        <div class="resource-description">
            <h1 class="resource-title">
                {{ resource.title }}
                {% if app.user %}
                    <a class="actions btn btn-icon" href="{{ path('addRemoveFav', {id: resource.id,url:app.request.requestUri }) }}">
                        {% if isFavorite %}
                            <span class="icon-favourite-remove"></span>
                        {% else %}
                            <span class="icon-favourite-add"></span>
                        {% endif %}
                    </a>
                {% endif %}
            </h1>
            <p class="author-date">posté par {{ resource.user.username }} le {{ resource.dateCreation|date("d/m/Y à H:i", "Europe/Paris") }}</p>
            <hr>
            <p class="resource-description-description">{{ resource.description }}</p>
        </div>
        <div>
            <h2 class="resource-informations-title">Informations</h2>
            <div class="resource-informations resource-informations-type" title="Type de la ressource"><span class="icone-resource icone-resource-type"></span><p>{{ resource.resourceType }}</p></div>
            <div class="resource-informations resource-informations-age" title="Ages concernés par la ressource"><span class="icone-resource icone-resource-age"></span><p>{{ resource.ageCategory }}</p></div>
            <div class="resource-informations resource-informations-relationship" title="Relations concernées par la ressource"><span class="icone-resource icone-resource-relationship"></span><p>{{ resource.relationShip.label }}</p></div>
        </div>
        <div class="resource-comments">
            {% if resource.comments is defined and resource.comments is not empty%}
            <h2 class="resource-comments-title">Commentaires</h2>
                <hr>
                {% for comment in resource.comments %}
                    <div class="comment-content">
                        {% if app.user== comment.user or is_granted('ROLE_MODERATEUR') %}
                            <div class="actions comment-actions">
                                {% if app.user== comment.user %}
                                    <a href="{{ path('comment.edit', {id: comment.id} ) }}" class="btn btn-icon"><span class="icon-edit"></span></a>
                                {% endif %}
                                {% if app.user== comment.user or is_granted('ROLE_MODERATEUR') %}
                                    <a href="{{ path('comment.delete', {id: comment.id}) }}" class="btn btn-icon"><span class="icon-delete"></span></a>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="comment-title-content">
                            <h4 class="comment-title">{{ comment.title }}</h4>
                            <div class="rating-show">
                                {% for i in  1..comment.valuation %}
                                    <input type="radio" name="rating-show" value="{{ i }}" id="{{ i }}">
                                    <label for="{{ i }}">☆</label>
                                {% endfor %}
                            </div>
                        </div>
                        <p class="author-date">De {{ comment.user.username }} le {{ comment.commentDate|date("d/m/Y à H:i", "Europe/Paris") }}</p>
                        <p class="comment-text">{{ comment.content }}</p>
                        <a href="{{ path('resources') }}" class="btn btn-primary">Répondre</a>
                        <hr>
                    </div>
                {% endfor %}
                <button id="more-less-comment" class="btn btn-more-less" onclick="setShowComments()"></button>
            {% endif %}
            <div class="commentary">
                <h3 class="commentary-title">Votre commentaire</h3>
                {{ form_start(form) }}
                {{ form_widget(form.title) }}
                {{ form_widget(form.content) }}
                {{ form_widget(form.valuation) }}
                <div class="rating">
                    {% for i in range(5, 1) %}
                        <input type="radio" name="rating" value="{{ i }}" id="{{ i }}">
                        <label for="{{ i }}">☆</label>
                    {% endfor %}
                </div>
                {{ form_widget(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
        <a class="btn btn-primary" href="{{ path('resources') }}">Retour</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("input[name='rating']").click(function () {
                $("#comment_valuation").val($(this).val());
            });
        });

        /*COMMENTS MANAGING*/
        var showComments = true;
        var allComments = document.getElementsByClassName('comment-content');
        var button = document.querySelector('#more-less-comment');
        comments = Array.prototype.slice.call(allComments);
        if(comments.length > 5) {
            comments = comments.splice(5, comments.length - 5);
            setShowComments();
        } else {
            button.style.display = 'none';
        }
        console.log('init, show = ' + showComments);
        function setShowComments() {
            showComments = !showComments;
            if (showComments) {
                comments.forEach(showHideComments);
                button.innerHTML = '<span class="icon-upper-arrow"></span> Voir moins de commentaire';
            } else {
                comments.forEach(showHideComments);
                button.innerHTML = '<span class="icon-lower-arrow"></span> Voir plus de commentaire (' + comments.length + ')';
            }
        }
        function showHideComments(item) {
            item.style.display = showComments ? 'block' : 'none';
        }
    </script>
{% endblock %}