<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ResourceRelationnelle{% endblock %}</title>
    {# Bootstrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {# Font Awesome #}

    {% include "@CHCookieConsent/cookie_consent_styling.html.twig" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('css/header.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/footer.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/common.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/form.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/button.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/search.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/burger.css') }}" rel="stylesheet"/>

</head>
<body>
{# {% block header %} #}

<header>
    <div class="header-content">
        <a id="logo" href="{{ path('resources') }}"></a>
        <ul id="nav">
            <li class="nav-item">
                <a class="nav-link home" aria-current="page" href="{{ path('resources') }}">Accueil</a>
            </li>
            {% if app.user %}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{{ path('user_dashboard') }}">Espace personnel</a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('resources_dashboard', {resourceGestion: 'favoris'}) }}">Mes ressources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('gatherings')}}">Mes groupes</a>
                </li>
            {% elseif not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('subscribe') }}" target="_blank">Inscription</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATEUR') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}" target="_blank">Administration</a>
                </li>

            {% endif %}
        </ul>
        <div id="search">
            <form class="search" method="get" action="{{ path('resources') }}">
                <div class="search__wrapper">
                    <input type="text" name="search" placeholder="Rechercher..." class="search__field">
                    <button type="submit" class="fa fa-search search__icon"></button>
                </div>
            </form>
        </div>
        <div id="connexion">
            {% if app.user %}
                <a class="btn btn-red btn-log" href="{{ path('logout') }}"><span class="log-icon log-icon-logout"></span><span
                            class="log-text">Deconnexion</span></a>
                <a class="btn btn-primary btn-log" href="{{ path('account') }}"><span class="log-icon log-icon-user"></span><span
                            class="log-text">Mon compte</span></a>
            {% else %}
                <a class="btn btn-green btn-log" href="{{ path('login') }}"><span class="log-icon log-icon-login"></span><span
                            class="log-text">Connexion</span></a>
            {% endif %}
        </div>
    </div>
    <div id="responsive-header">
        <button id="responsive-nav-btn" class="burger_box b"  onclick="setNav()">
            <div class="container-rows">
                <div class="row-bugger"></div>
                <div class="row-bugger"></div>
                <div class="row-bugger"></div>
            </div>
        </button>
        <script src="{{ asset('js/burger.js') }}"></script>
        <div id="responsive-nav">

            {% if app.user %}
                <a class="btn btn-red btn-log" href="{{ path('logout') }}"><span class="log-icon log-icon-logout"></span><span
                            class="log-text">Deconnexion</span></a>
                <a class="btn btn-primary btn-log" href="{{ path('account') }}"><span class="log-icon log-icon-user"></span><span
                            class="log-text">Mon compte</span></a>
            {% else %}
                <a class="btn btn-green btn-log" href="{{ path('login') }}"><span class="log-icon log-icon-login"></span><span
                            class="log-text">Connexion</span></a>
            {% endif %}

{#            {% if app.user %}#}
{#                <a class="btn btn-primary btn-log" href="{{ path('logout') }}"><span class="log-icon log-icon-logout"></span><span#}
{#                            class="log-text">Deconnexion</span></a>#}
{#                <a class="btn btn-primary" href="{{ path('logout') }}"><span class="log-icon log-icon-logout"></span><span#}
{#                            class="log-text">Deconnexion</span></a>#}
{#            {% else %}#}
{#                <a class="btn btn-primary btn-log" href="{{ path('login') }}"><span class="log-icon log-icon-login"></span><span#}
{#                            class="log-text">Connexion</span></a>#}
{#            {% endif %}#}
            <form class="search" method="get" action="{{ path('resources') }}">
                <div class="search__wrapper">
                    <input type="text" name="search" placeholder="Rechercher..." class="search__field">
                    <button type="submit" class="fa fa-search search__icon"></button>
                </div>
            </form>
            <a class="nav-link home" aria-current="page" href="{{ path('resources') }}">Accueil</a>
            <a class="nav-link home" aria-current="page" href="{{ path('resources_dashboard', {'resourceGestion': 'favoris'}) }}">Mes ressources</a>
            <a class="nav-link home" aria-current="page" href="{{ path('gatherings') }}">Mes groupes</a>
        </div>
    </div>
</header>
{# {% endblock %} #}

<div class="content">
    {% block body %}{% endblock %}
</div>
{# BandeauCookies #}
{{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set')) }}

{# {% block footer %} #}
<footer>
    <div class="footer-content">
        <div id="logo-footer"></div>
        <div id="links-footer" class="footer-list-links">
            <ul>
                <li>
                    <a href="{{ path('accessibilite') }}">Accesibilité</a>
                </li>
                <li>
                    <a href="{{ path('legal') }}">Mention légale</a>
                </li>
                <li>
                    <a href="{{ path('RGPD') }}/">Données et RGPD</a>
                </li>
            </ul>
        </div>
        <div id="usables-footer" class="footer-list-links">
            <h5 class="text-uppercase">Liens utiles</h5>
            <ul>
                <li>
                    <a href="https://solidarites-sante.gouv.fr/">Site du gouvernement</a>
                </li>
                <li>
                    <a href="https://gouvernement-et-citoyens.consultation.etalab.gouv.fr/">Participation citoyenne</a>
                </li>
                <li>
                    <a href="https://www.fichier-pdf.fr/2021/03/14/faquser"/>FAQ</a>
                </li>

            </ul>
        </div>
        <div id="socials-footer">
            <h5 class="text-uppercase">Suivez-nous</h5>
            <div class="socials-content">

                <a href="https://www.facebook.com/MinSoliSante" class="social-facebook" target="_blank"></a>
                <a href="https://twitter.com/MinSoliSante?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                   target="_blank" class="social-twitter"></a>
                <a href="https://www.linkedin.com/company/minist%C3%A8re-des-solidarites-de-la-sant%C3%A9/"
                   target="_blank" class="social-linkedin"></a>
                <a href="https://www.instagram.com/explore/locations/584326962/ministere-des-solidarites-et-de-la-sante/?hl=fr"
                   target="_blank" class="social-insta"></a>
                <a href="https://www.youtube.com/channel/UCApzB6X-04YRPq9SZ0WfEsg" target="_blank"
                   class="social-youtube"></a>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <span>© 2021 Copyright:</span>
        <a href="https://les-semi-croustillants.atlassian.net/jira/software/projects/SP/boards/3">Les semis
            croustillants</a>
    </div>
</footer>
{# {% endblock %} #}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script>

    /*Responsive nav menu burger*/
    var showResponsiveNav = false;

    function setNav() {
        showResponsiveNav = !showResponsiveNav;
        var nav = document.getElementById("responsive-nav");
        if (showResponsiveNav) {
            nav.style.height = "368px"
        } else {
            nav.style.height = "0";
        }
    }
</script>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
    {# <script type="text/javascript">console.log(window.pathname);</script> #}
{% endblock %}

</body>
</html>
