{% extends 'base.html.twig' %}

{% block title 'Espace utilisateur' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user_space.css') }}" type="text/css">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="h2 text-center">Changer le mot de passe</div>
        <div class="div-personal-info col-5">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger mt-4 text-center">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="mb-3 mt-3">
                {{ form_start(form) }}

                {% for field in form %}
                    {% if form_label(field) != form_label(form._token) %}
                        <div class="form-group">
                            <label>{{ form_label(field) }}</label>
                            <div>{{ form_widget(field, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="row justify-content-around mt-5">
                    <div class="col-6 text-center">
                        <button class="btn btn-perso">Enregistrer</button>
                    </div>
                    <div class="col-6 text-center">
                        <a href="{{ path('user_dashboard') }}" class="btn btn-danger">Annuler</a>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}