{% extends 'base.html.twig' %}

{% block title 'Espace utilisateur' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user_space.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-4 div-personal-info">
                <div class="h2 text-center">Informations personnelles</div>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-4 text-center">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="input-group mb-3 mt-5">
                    <div class="input-group-prepend col-4">
                        <span class="input-group-text col-12">Nom</span>
                    </div>
                    <div class="form-control">{{ app.user.lastname }}</div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend col-4">
                        <span class="input-group-text col-12">Prénom</span>
                    </div>
                    <div class="form-control">{{ app.user.firstname }}</div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend col-4">
                        <span class="input-group-text col-12">Pseudonyme</span>
                    </div>
                    <div class="form-control">{{ app.user.username }}</div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend col-4">
                        <span class="input-group-text col-12">Email</span>
                    </div>
                    <div class="form-control">{{ app.user.email }}</div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend col-4">
                        <span class="input-group-text col-12">Département</span>
                    </div>
                    <div class="form-control">{{ app.user.department }}</div>
                </div>
                <div class="input-group mb-5">
                    <div class="input-group-prepend col-4">
                        <span class="input-group-text col-12">Catégorie d'âge</span>
                    </div>
                    <div class="form-control">{{ app.user.agecategory }}</div>
                </div>
                <div class="row mb-3 justify-content-around">
                    <div class="col-5 text-center">
                        <a href="{{ path('user_dashboard_edit_user') }}" class="btn btn-perso">Modifier</a>
                    </div>
                    <div class="col-7 text-center">
                        <a href="{{ path('forgotPassword') }}" class="btn btn-perso">Changer mot de passe</a>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-4 div-personal-info">
                <div class="h2 text-center mb-5">Ressources</div>
                <div class="row justify-content-around mb-4">
                    <a href="#" class="card card-linked col-5">
                        <div class="card-body text-center">
                            <div class="card-title">Favoris</div>
                            <div class="card-text">{{ favoris }}</div>
                        </div>
                    </a>
                    <a href="#" class="card card-linked col-5">
                        <div class="card-body text-center">
                            <div class="card-title">Mises de côté</div>
                            <div class="card-text">{{ putAside }}</div>
                        </div>
                    </a>
                </div>
                <div class="row justify-content-around mb-3">
                    <a href="#" class="card card-linked col-5">
                        <div class="card-body text-center">
                            <div class="card-title">Exploitées</div>
                            <div class="card-text">{{ exploited }}</div>
                        </div>
                    </a>
                    <a href="#" class="card card-linked col-5">
                        <div class="card-body text-center">
                            <div class="card-title">Partagées</div>
                            <div class="card-text">{{ shared }}</div>
                        </div>
                    </a>
                </div>
                <div class="row justify-content-around mb-3">
                    <a href="#" class="card card-linked col-5">
                        <div class="card-body text-center">
                            <div class="card-title">Consultées</div>
                            <div class="card-text">{{ consulted }}</div>
                        </div>
                    </a>
                    <a href="#" class="card card-linked col-5">
                        <div class="card-body text-center">
                            <div class="card-title">Créées</div>
                            <div class="card-text">{{ created }}</div>
                        </div>
                    </a>
                </div>
                <div class="row justify-content-around center mb-3">
                    <div class="card card-not-linked col-5">
                        <div class="card-body text-center">
                            <div class="card-title">Commentaires</div>
                            <div class="card-text">{{ commented }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}