<div class="user-stats">
    <a href="{{ path('user_dashboard') }}" class="stat-card stat-card-orange {{ (resourceGestion is defined) ? '' : 'active' }}">
        <span class="icone-stat icone-user"></span>
        <p>Mon profile</p>
    </a>
    {% set rGestions = [
        'favoris',
        'putAside',
        'exploited',
        'shared',
        'consulted',
        'created'
    ]
    %}
    {% set numbers = [
        favoris,
        putAside,
        exploited,
        shared,
        consulted,
        created
    ]
    %}
    {% set colors = [
        'pink',
        'turquoise',
        'yellow',
        'purple',
        'blue',
        'green'
    ]
    %}
    {% set titles = [
        'Favories',
        'Mises de côté',
        'Exploitées',
        'Partagées',
        'Consultées',
        'Crées'
    ]
    %}
    {% for i in range(0, rGestions|length - 1) %}
        <a href="{{ path('user_resource', {resourceGestion: rGestions[i]}) }}" class="stat-card stat-card-{{ colors[i] }} {{ (resourceGestion is defined and resourceGestion == rGestions[i]) ? 'active' : '' }}">
            <span class="icone-stat icone-heart"></span>
            <p>{{ titles[i] }} {{ numbers[i] }}</p>
        </a>
    {% endfor %}
    <div class="stat-card stat-card-red">
        <span class="icone-stat icone-chat"></span>
        <p>Commentées {{ commented }}</p>
    </div>
</div>