{% extends 'base.html.twig' %}

{% block title 'Espace utilisateur' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user_space.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/stats.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <div class="dashboard-content">
        <div class="dashboard-main">
            <form>
                <h1>Mon profile</h1>
                <hr>
                <div>
                    <label for="lastname" class="form-input-label">Nom</label>
                    <input type="text" name="lastname" value="{{ app.user.lastname }}" class="charte-input" disabled>
                </div>
                <div>
                    <label for="firstname" class="form-input-label">Prénom</label>
                    <input type="text" name="firstname" value="{{ app.user.firstname }}" class="charte-input" disabled>
                </div>
                <div>
                    <label for="username" class="form-input-label">Pseudonyme</label>
                    <input type="text" name="username" value="{{ app.user.username }}" class="charte-input" disabled>
                </div>
                <div>
                    <label for="email" class="form-input-label">Email</label>
                    <input type="text" name="email" value="{{ app.user.email }}" class="charte-input" disabled>
                </div>
                <div>
                    <label for="department" class="form-input-label">Département</label>
                    <input type="text" name="department" value="{{ app.user.department }}" class="charte-input" disabled>
                </div>
                <div>
                    <label for="agecategory" class="form-input-label">Catégorie d'âge</label>
                    <input type="text" name="agecategory" value="{{ app.user.agecategory }}" class="charte-input" disabled>
                </div>
            </form>

            <div id="user-action">
                                <a href="{{ path('user_dashboard_edit_user') }}" class="btn btn-yellow">Modifier</a>
                                <a href="{{ path('change_password') }}" class="btn btn-yellow">Changer mot de passe</a>
            </div>
        </div>

        {% include'user/dashboard_menue.html.twig' %}
    </div>
{% endblock %}