<div class="user-stats">
    <a href="{{ path('user_dashboard') }}" class="stat-card stat-card-orange {{ (resourceGestion is defined) ? '' : 'active' }}">
        <span class="icone-stat icone-user"></span>
        <p>Mon profile</p>
    </a>
    {% set statsMenu = [
        {
            rGestion : 'favoris',
            number : favoris,
            color : 'pink',
            title : 'Favories',
            icon : 'heart'
        },
        {
            rGestion : 'putAside',
            number : putAside,
            color : 'turquoise',
            title : 'Mises de côté',
            icon : 'folder'
        },
        {
            rGestion : 'exploited',
            number : exploited,
            color : 'yellow',
            title : 'Exploitées',
            icon : 'checked'
        },
        {
            rGestion : 'shared',
            number : shared,
            color : 'purple',
            title : 'Partagées',
            icon : 'share'
        },
        {
            rGestion : 'consulted',
            number : consulted,
            color : 'blue',
            title : 'Consultées',
            icon : 'eye'
        },
        {
            rGestion : 'created',
            number : created,
            color : 'green',
            title : 'Crées',
            icon : 'add'
        }
    ]%}
    {% for statMenu in statsMenu %}
        <a href="{{ path('user_resource', {resourceGestion: statMenu['rGestion']}) }}" class="stat-card stat-card-{{ statMenu['color'] }} {{ (resourceGestion is defined and resourceGestion == statMenu['rGestion']) ? 'active' : '' }}">
            <span class="icone-stat icone-{{ statMenu['icon'] }}"></span>
            <p>{{ statMenu['title'] }} {{ statMenu['number'] }}</p>
        </a>
    {% endfor %}

    <div class="stat-card stat-card-red">
        <span class="icone-stat icone-chat"></span>
        <p>Commentées {{ commented }}</p>
    </div>
</div>