{% extends 'base.html.twig' %}

{% block title 'Modifications informations personnelles' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/account.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <div class="charte-form">
        <h2>Modification des informations personnelles</h2>
        <hr>
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-4 text-center">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}

        {% set selects = [ form_label(form.department), form_label(form.ageCategory)] %}
                {% for field in form %}
                    {% if form_label(field) != form_label(form._token) %}
{#                        {% if form_label(field) in selects %}#}
{#                            <div class="form-select">#}
{#                                {{ form_label(field) }}#}
{#                                {{ form_widget(field) }}#}
{#                            </div>#}
{#                        {% else %}#}
                            <div>
                                {{ form_label(field) }}
                                {{ form_widget(field) }}
                            </div>
{#                        {% endif %}#}
                    {% endif %}
                {% endfor %}
        {{ form_end(form) }}
    </div>
{% endblock %}