{% extends 'base.html.twig' %}

{% block title 'Espace utilisateur' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user_space.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/stats.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/table.css') }}" type="text/css">
{% endblock %}

{% block body %}

    <div class="dashboard-content">
        <div class="dashboard-main">
            {% set title = {
                'favoris': 'Favoris',
                'putAside': 'Mises de côté',
                'exploited': 'Exploitées',
                'shared': 'Partagées',
                'consulted': 'Consultées',
                'created': 'Créées'
            } %}
            <h1>{{ title[resourceGestion] }}</h1>
            <hr>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4 text-center">
                    {{ message }}
                </div>
            {% endfor %}
            {% if resources %}
            <table class="">
                <thead>
                    <th>Titre</th>
                    <th>Type</th>
                    <th class="dashboard-responsive-hidden">Catégorie</th>
                    <th class="dashboard-responsive-hidden">Catégorie d'âge</th>
                </thead>
                <tbody>
                        {% for resource in resources %}
                            <tr class="align-middle">
                                {% set columns = {
                                    'Titre': resource.title,
                                    'Type': resource.resourceType,
                                    'Catégorie': resource.category,
                                    'Catégorie d\'âge': resource.ageCategory
                                } %}
                                {% for column in columns %}
                                    <td {{ column in [resource.category, resource.ageCategory] ? 'class="dashboard-responsive-hidden"' : '' }}><a href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}"><span>{{ column }}</span></a></td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">Pas de ressources trouvées</td>
                </tr>
            {% endif %}
            {% if resourceGestion == 'created' %}
                <a class="btn btn-primary" href="{{ path('add_resource') }}" class="btn btn-perso col-2">Créer une nouvelle ressource</a>
            {% endif %}
        </div>

        {% include'user/dashboard_menue.html.twig' %}
    </div>
{% endblock %}