{% extends 'base.html.twig' %}

{% block title 'Espace utilisateur' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user_space.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/stats.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/table.css') }}" type="text/css">
{% endblock %}

{% block body %}

    <div class="dashboard-content">
        <div class="dashboard-main">
            {% set title = {
                'favoris': 'Favories',
                'putAside': 'Mises de côté',
                'exploited': 'Exploitées',
                'shared': 'Partagées',
                'consulted': 'Consultées',
                'created': 'Créées'
            } %}
            <h1>{{ title[resourceGestion] }}</h1>
            <hr>
{#            {% for key,value in title %}#}
{#                Key : {{ key }}#}
{#                Value : {{ value }}#}
{#            {% endfor %}#}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4 text-center">
                    {{ message }}
                </div>
            {% endfor %}
            <table>
                <thead>
                    <th>Titre</th>
                    <th>Type</th>
                    <th>Catégorie</th>
                    <th>Catégorie d'âge</th>
                </thead>
                <tbody>
                    {% if resources %}
                        {% for resource in resources %}
                            <tr class="align-middle">
                                <td><a href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}"><span>{{ resource.title }}</span></a></td>
                                <td><a href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}"><span>{{ resource.resourceType }}</span></a></td>
                                <td><a href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}"><span>{{ resource.category }}</span></a></td>
                                <td><a href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}"><span>{{ resource.ageCategory }}</span></a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">Pas de ressources trouvées</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        {% include'user/dashboard_menue.html.twig' %}
    </div>

{#<div class="container mt-3">#}
{#    <div class="row justify-content-center">#}
{#        <div class="h2 text-center mb-5">Ressources</div>#}

{#        {% for message in app.flashes('success') %}#}
{#            <div class="alert alert-success mt-4 text-center">#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endfor %}#}

{#        <div class="row justify-content-around mb-3">#}
{#            <a href="{{ path('user_resource', {resourceGestion: 'favoris'}) }}"#}
{#            {% if resourceGestion == 'favoris' %}#}
{#               class="btn btn-selected col-1"#}
{#            {% else %}#}
{#                class="btn btn-perso col-1"#}
{#           {% endif %}#}
{#            >Favoris</a>#}
{#            <a href="{{ path('user_resource', {resourceGestion: 'putAside'}) }}"#}
{#            {% if resourceGestion == 'putAside' %}#}
{#                class="btn btn-selected col-1"#}
{#            {% else %}#}
{#                class="btn btn-perso col-1"#}
{#            {% endif %}#}
{#            >De côté</a>#}
{#            <a href="{{ path('user_resource', {resourceGestion: 'exploited'}) }}"#}
{#            {% if resourceGestion == 'exploited' %}#}
{#                class="btn btn-selected col-1"#}
{#            {% else %}#}
{#                class="btn btn-perso col-1"#}
{#            {% endif %}#}
{#            >Exploitées</a>#}
{#            <a href="{{ path('user_resource', {resourceGestion: 'shared'}) }}"#}
{#            {% if resourceGestion == 'shared' %}#}
{#                class="btn btn-selected col-1"#}
{#            {% else %}#}
{#                class="btn btn-perso col-1"#}
{#            {% endif %}#}
{#            >Partagées</a>#}
{#            <a href="{{ path('user_resource', {resourceGestion: 'consulted'}) }}"#}
{#            {% if resourceGestion == 'consulted' %}#}
{#                class="btn btn-selected col-1"#}
{#            {% else %}#}
{#                class="btn btn-perso col-1"#}
{#            {% endif %}#}
{#            >Consultées</a>#}
{#            <a href="{{ path('user_resource', {resourceGestion: 'created'}) }}"#}
{#            {% if resourceGestion == 'created' %}#}
{#                class="btn btn-selected col-1"#}
{#            {% else %}#}
{#                class="btn btn-perso col-1"#}
{#            {% endif %}#}
{#            >Créées</a>#}
{#        </div>#}
{#        <table class="table table-striped mt-3 mb-3">#}
{#            <thead class="tab-header">#}
{#            <tr>#}
{#                <th>Titre</th>#}
{#                <th>Auteur</th>#}
{#                <th>Type</th>#}
{#                <th>Catégorie</th>#}
{#                <th>Catégorie d'âge</th>#}
{#                <th>Relation</th>#}
{#                <th>Action</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% if resources %}#}
{#                {% for resource in resources %}#}
{#                    <tr class="align-middle">#}
{#                        <td>{{ resource.title }}</td>#}
{#                        <td>{{ resource.user }}</td>#}
{#                        <td>{{ resource.resourceType }}</td>#}
{#                        <td>{{ resource.category }}</td>#}
{#                        <td>{{ resource.ageCategory }}</td>#}
{#                        <td>{{ resource.relationShip }}</td>#}
{#                        <td>#}
{#                            <a href="{{ path('comment.show', {id: resource.id, slug: resource.slug}) }}" class="btn btn-perso">Consulter</a>#}
{#                            {% if resourceGestion == 'created' %}#}
{#                                <a href="{{ path('edit_resource', {id: resource.id}) }}" class="btn btn-perso">Modifier</a>#}
{#                            {% endif %}#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                <tr>#}
{#                    <td colspan="7" class="text-center">Pas de ressources trouvées</td>#}
{#                </tr>#}
{#            {% endif %}#}
{#            </tbody>#}
{#        </table>#}
{#        <div class="row justify-content-end">#}
{#            <a href="{{ path('add_resource') }}" class="btn btn-perso col-2">Créer une nouvelle ressource</a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{% endblock %}